.message {
  display: block;
  margin: 35px auto;
  padding: 12px;
  max-width: 1024px;
  height: auto;
  background: rgba(#2096fb, .6);
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}